/target/
# .gitignore - - - - - - - - - - 
# 
# Save/Create **/pfs/.gitignore 

*.class

/target

# Eclipse files


**/.classpath
**/.project

*.classpath
*.project

**/.settings/
/.settings
/build
/bin

#Netbeans files

# nbactions.xml
# **/nb-configuration.xml
# **/META-INF

# Maven files

target/


# Local files

logs/
*.bak

# Log files
*.log

*~

*.DS_Store

# Github Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
